<script src="/bootstrap5/js/bootstrap.bundle.min.js"></script> 
<% for (const name in locals.formBody) { %>
  <script>
      <% if (locals.formErrors[name]) { %>
          $('[name="<%= name %>"]').addClass('is-invalid');
          $('[name="<%= name %>"]').after('<div class="invalid-feedback"><%= locals.formErrors[name].msg %></div>');
          // $('[name="<%= name %>"]').parent().append('<div class="invalid-feedback"><%= locals.formErrors[name].msg %></div>');            
      <% } %>
          var elem = $('[name="<%= name %>"]');
      //check if the element is a input radio or checkbox
      if (elem.is('input[type="radio"]') || elem.is('input[type="checkbox"]')) {
          //check if the element is checked
          elem = $('[name="<%= name %>"][value="<%= locals.formBody[name] %>"]').attr('checked', true);
      } else {
          elem.val("<%= locals.formBody[name] %>");
      }
  </script>
  <% } %>

      <% if (locals.flash) { %>
        <% for (const type in locals.flash) { %>
          <div id="flash-message" class="alert alert-<%- type %> fade show w-50 mx-auto fixed-top mt-5 alert-dismissible">
              <button class="btn-close" data-bs-dismiss="alert"></button>
              <%- locals.flash[type] %> 
          </div>
              <script>
                  $(document).ready(function(){
                      $('#flash-message').show();
                      $('#flash-message').delay(4000).fadeOut();
                  });
              </script>
        <% } %> 
      <% } %>